<h1>Github ISsuees</h1>
<div class="my-5 border-b-2 border-b2"></div>

<section class="grid grid-cols-1 sm:grid-cols-3 gap-2">
  <div class="col-span-3 flex flex-col">
    <!-- /botones para controlar el estado -->
    <div class="flex gap-2">
      <button class="btn active">All</button>
      <button class="btn">Open</button>
      <button class="btn">Closed</button>
    </div>
  </div>

  <!-- listado  -->
  <div class="mt-4 flex flex-col col-span-2">
    <h2>Issues</h2>
    <a routerLink="/issue/123">Ir a issue 123</a>
  </div>
  <!-- labels -->
  <div>
    <h2>Labels</h2>
    @if (labelsQuery.isLoading()) {
      <p>Estamos cargando....</p>
    }
    @else{
      <!-- <pre>{{labelsQuery.data() | json}}</pre> -->
       @if (!labelsQuery.data()) {
        <div>No hay  labels disponibles</div>
       }
       <issues-labels-selector [labels]="labelsQuery.data() ?? []"/>
    }
  </div>
</section>
